@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");
* {
  box-sizing: border-box; }

/*Header*/
header {
  width: 100%;
  height: 300px;
  background-image: url("https://i.pinimg.com/originals/f5/50/09/f5500906f755887e92ee55912972e8b2.jpg");
  top: 0;
  border-radius: 5px; }

body {
  background-color: whitesmoke;
  font-family: "Amatic SC", serif, Serif; }

/*Navigationsbar*/
nav ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style-type: none; }

li {
  font-family: "Amatic SC", serif, Serif;
  font-size: 20pt;
  font-weight: bolder; }

li:active {
  text-decoration: none;
  position: relative;
  top: 2px; }

p {
  font-family: "Barlow Semi Condensed", serif, Serif;
  font-size: 14pt; }

/*Footer*/
footer {
  background-image: url("https://i.pinimg.com/originals/f5/50/09/f5500906f755887e92ee55912972e8b2.jpg");
  height: 260px;
  width: 100%;
  border-radius: 5px; }

.logo {
  display: flex;
  justify-content: center; }

.logo img {
  width: 30%;
  height: 30%; }

.foottext {
  font-family: "Barlow Semi Condensed", serif, Serif;
  font-size: 16pt;
  font-weight: bolder; }

.social {
  font-family: "Barlow Semi Condensed", serif, Serif;
  font-size: 18pt;
  font-weight: bolder;
  float: right; }

.headline {
  font-family: "Amatic SC", serif;
  font-size: 50pt;
  text-align: center; }

.foot {
  margin: 0;
  font-size: 10pt;
  float: left;
  padding-left: 5px; }

/*Anna kode*/
.tid_anna {
  margin-left: 25%; }

.search {
  width: 99%;
  height: 30px;
  margin: 10px 0; }

.sofa_anna {
  width: 99%; }

.furniture article {
  margin-bottom: 20px; }

.text_anna {
  max-width: 512px;
  width: 99%; }

.h1_anna {
  margin-left: 10%; }

.img_anna img {
  width: 49%; }

form {
  margin-left: 10%;
  width: 80%;
  margin-bottom: 10px; }

/*Anders kode*/
.andersh2 {
  text-align: center;
  font-size: 40px; }

.andersh3 {
  font-size: 25px; }

/*Louise kode*/
.sofa {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px; }

.statue {
  padding-top: 17px;
  padding-right: 10px; }

.tekst {
  font-size: 14pt;
  text-align: center;
  font-family: "Bodoni MT", sans-serif; }

.gsec1 {
  padding-top: 10px; }

.stol {
  padding-bottom: 10px;
  padding-left: 10px; }

.kommode {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px; }

/*Jessie kode*/
.overskrift {
  text-align: center;
  font-family: "Amatic SC", serif, Serif;
  font-size: 28pt;
  font-weight: bolder; }

.form {
  float: right; }

.auktion0 {
  font-weight: bolder;
  font-size: 18pt;
  text-align: center; }

.auktion1 {
  font-size: 16pt;
  text-align: center; }

.auktion2 {
  font-size: 16pt;
  text-align: center; }

.auktion3 {
  font-size: 16pt;
  text-align: center; }

.auktion4 {
  font-size: 16pt;
  text-align: center; }

.stol {
  align-content: center; }

.bord1 {
  align-content: center; }

.bord2 {
  align-content: center; }

.decor1 {
  align-content: center; }

.decor2 {
  float: right; }

/*Jessie slut*/
/*Grid*/
@supports (grid-area: auto) {
  @media screen and (min-width: 600px) {
    body {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-areas: "head head head" "gsec1 gsec2 gsec3" "gsec4 gsec5 gsec6" "gsec7 gsec8 gsec9" "foot foot foot"; }

    .jessie {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-areas: "head head head" "gsec1 . gsec3" "gsec4 gsec5 gsec6" "gsec7 gsec8 gsec9" "gsec10 gsec11 gsec12" "foot foot foot"; }

    .furniture {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      grid-template-areas: "head head head" ". . search" "gsec5 gsec1 gsec3" "gsec4 gsec1 gsec2" "foot foot foot"; }

    .FAQ {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-areas: "head head head" "gsec3 gFAQ1 ." ". gFAQ2 ." ". gFAQ3 ." ". gFAQ4 ." ". gFAQ5 ." ". gFAQ6 ." ". gFAQ7 ." ". gFAQ8 ." ". gFAQ9 ." "foot foot foot"; }

    .FAQsec1 {
      grid-area: gFAQ1;
      margin-top: 30px; }

    .FAQsec2 {
      grid-area: gFAQ2; }

    .FAQsec3 {
      grid-area: gFAQ3; }

    .FAQsec4 {
      grid-area: gFAQ4; }

    .FAQsec5 {
      grid-area: gFAQ5; }

    .FAQsec6 {
      grid-area: gFAQ6; }

    .FAQsec7 {
      grid-area: gFAQ7; }

    .FAQsec8 {
      grid-area: gFAQ8; }

    .FAQsec9 {
      grid-area: gFAQ9;
      padding-bottom: 10px; }

    header {
      grid-area: head; }

    .sec1 {
      grid-area: gsec1; }

    .sec2 {
      grid-area: gsec2; }

    .sec3 {
      grid-area: gsec3; }

    .sec4 {
      grid-area: gsec4; }

    .sec5 {
      grid-area: gsec5; }

    .sec6 {
      grid-area: gsec6; }

    .sec7 {
      grid-area: gsec7; }

    .sec8 {
      grid-area: gsec8; }

    .sec9 {
      grid-area: gsec9; }

    .sec10 {
      grid-area: gsec10; }

    .sec11 {
      grid-area: gsec11; }

    .sec12 {
      grid-area: gsec12; }

    .search {
      grid-area: search; }

    footer {
      grid-area: foot; }

    .tid_anna {
      margin-left: 10%; }

    .sofa_anna {
      max-width: 512px;
      max-height: 384px;
      width: 95%; } } }

/*# sourceMappingURL=styles.css.map */
