@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

$overskrift: 'Amatic SC', serif;
$tekst: 'Barlow Semi Condensed', serif;

* {
  box-sizing: border-box; }

header {
  width: 100%;
  height: 200px;
  background-image: url("https://i.pinimg.com/originals/f5/50/09/f5500906f755887e92ee55912972e8b2.jpg");
  top: 0;
  border-radius: 5px;
}
body {
  background-color: whitesmoke;
  font-family: $overskrift, Serif;
}

nav {
  padding-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  margin-top: 60px;
  margin-right: 40px;
  margin-left: auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  font-family: $overskrift, Serif;
  font-size: 26pt;
  font-weight: bolder;
}

p{
  font-family: $tekst, Serif;
  font-size: 14pt;
}

footer {
  background-image: url("https://i.pinimg.com/originals/f5/50/09/f5500906f755887e92ee55912972e8b2.jpg");
  height: 260px;
  width: 100%;
  border-radius: 5px;
}
.logo2 {
  width: 400px;
  float: left;
  display: block;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: auto;
}
.foottext {
  font-family: $tekst, Serif;
  font-size: 16pt;
  font-weight: bolder;
}
.social {
  float: right;
  position: relative;
}
.social {
  font-family: $tekst, Serif;
  font-size: 18pt;
  font-weight: bolder;
  float: right;
}

.headline {
  font-family: $overskrift;
  font-size: 50pt;
  text-align: center;
}

.foot {
  margin: 0;
  font-size: 10pt;
  float: left;
  padding-left: 5px;
}

/*Anna kode*/
.tid_anna {
  margin-left: 25%;
}

input {
  width: 99%;
  height: 30px;
  margin: 10px 0;
}

.sofa_anna {
  width: 99%;
}

.furniture article {
  margin-bottom: 20px;
}

.text_anna {
  max-width: 512px;
  width: 99%;
}

.h1_anna {
  margin-left: 10%;
}

.img_anna img {
  width: 49%;
}

form{
  margin-left: 10%;
  width: 80%;
  margin-bottom: 10px;
}

/*Anders kode*/

.andersh2{
  text-align: center;
  font-size: 20px;


}
/*Louise kode*/

.sofa{
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
}
.statue{
  padding-top: 17px;
  padding-right: 10px;
}

.tekst{
  font-size: 14pt;
  text-align: center;
  font-family: "Bodoni MT";
}
.gsec1{
padding-top: 10px;
}

.logo2{
  align-items: center;
}
.stol{
  padding-bottom: 10px;
  padding-left: 10px;
}
.kommode{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

/*Jessie kode*/

.overskrift {
  text-align: center;
  font-family: $overskrift,Serif;
  font-size: 28pt;
  font-weight: bolder;
}
.form {
  float: right;
}

.auktion0 {
  font-weight: bolder;
  font-size: 18pt;
  text-align: center;
}
.auktion1{
  font-size: 16pt;
  text-align: center;
}
.auktion2 {
  font-size: 16pt;
  text-align: center;
}
.auktion3 {
  font-size: 16pt;
  text-align: center;
}
.auktion4 {
  font-size: 16pt;
  text-align: center;
}
.stol {
  align-content: center;
}
.bord1 {
  align-content: center;
}
.bord2 {
  align-content: center;
}
.decor1 {
  align-content: center;
}
.decor2 {
  float: right;
}

/*Grid*/
@supports (grid-area: auto) {
  @media screen and (min-width: 600px) {
    body {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-areas: "head head head" "gsec1 gsec2 gsec3" "gsec4 gsec5 gsec6" "gsec7 gsec8 gsec9"
      "foot foot foot"; }

    .jessie{
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-areas: "head head head" "gsec1 . gsec3" "gsec4 gsec5 gsec6" "gsec7 gsec8 gsec9"
      "gsec10 gsec11 gsec12" "foot foot foot"; }

    //Anna
    .furniture {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      grid-template-areas: "head head head"
      ". . search"
      "gsec5 gsec1 gsec3"
      "gsec4 gsec1 gsec2"
      "foot foot foot"; }
    //anna slut

    header {
      grid-area: head; }

    .sec1 {
      grid-area: gsec1; }

    .sec2 {
      grid-area: gsec2; }

    .sec3 {
      grid-area: gsec3; }

    .sec4 {
      grid-area: gsec4; }

    .sec5 {
      grid-area: gsec5; }

    .sec6 {
      grid-area: gsec6; }

    .sec7 {
      grid-area: gsec7  }

    .sec8 {
      grid-area: gsec8  }

    .sec9 {
      grid-area: gsec9; }

    .sec10 {
      grid-area: gsec10 }

    .sec11 {
      grid-area: gsec11 }

    .sec12 {
      grid-area: gsec12 }

    //Anna
    .search {
      grid-area: search;
    }
    //anna slut

    footer {
      grid-area: foot; }

    .logo {
      width: 30%; }

    //Anna - desktop
    .tid_anna {
      margin-left: 10%;
    }

    .sofa_anna {
      max-width: 512px;
      max-height: 384px;
      width: 95%;
    }
    //anna slut

  }
}