@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");
* {
  box-sizing: border-box; }

header {
  width: 100%;
  height: 160px;
  background-image: url("https://i.pinimg.com/originals/f5/50/09/f5500906f755887e92ee55912972e8b2.jpg");
  top: 0;
  border-radius: 5px; }

body {
  background-color: whitesmoke;
  font-family: "Amatic SC", serif, Serif; }

nav {
  padding-bottom: 5px; }

ul {
  list-style-type: none;
  margin: 0;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  display: flex;
  justify-content: space-around; }

li {
  font-family: "Amatic SC", serif, Serif;
  font-size: 20pt;
  font-weight: bolder; }

p {
  font-family: "Barlow Semi Condensed", serif, Serif;
  font-size: 14pt; }

footer {
  background-image: url("https://i.pinimg.com/originals/f5/50/09/f5500906f755887e92ee55912972e8b2.jpg");
  height: 260px;
  width: 100%;
  border-radius: 5px; }

.logo2 {
  width: 400px;
  float: left;
  display: block;
  margin-top: 5px;
  margin-left: 8px;
  margin-right: auto; }

.ticket {
  float: right;
  display: block;
  margin-top: 10px; }

.tickettext {
  float: right;
  display: block;
  margin-top: 10px;
  margin-right: 10px; }

.foottext {
  font-family: "Barlow Semi Condensed", serif, Serif;
  font-size: 16pt;
  font-weight: bolder; }

.social {
  float: right;
  position: relative; }

.social {
  font-family: "Barlow Semi Condensed", serif, Serif;
  font-size: 18pt;
  font-weight: bolder;
  float: right; }

.headline {
  font-family: "Amatic SC", serif;
  font-size: 50pt;
  text-align: center; }

.foot {
  margin: 0;
  font-size: 10pt;
  float: left;
  padding-left: 5px; }

/*Anna kode*/
/*Anders kode*/
/*Louise kode*/
.sofa {
  padding-bottom: 20px; }

.statue {
  padding-bottom: 10px; }

.tekst {
  font-size: 12pt; }

.tekst {
  text-align: center; }

.tekst2 {
  font-size: 12pt; }

.tekst2 {
  text-align: center; }

.gsec1 {
  padding-top: 10px; }

/*Jessie kode*/
.overskrift {
  text-align: center;
  font-family: "Amatic SC", serif, Serif;
  font-size: 28pt;
  font-weight: bolder; }

.auktion0 {
  font-weight: bolder;
  font-size: 18pt;
  text-align: center; }

.auktion1 {
  font-size: 16pt;
  text-align: center; }

.auktion2 {
  font-size: 16pt;
  text-align: center; }

.auktion3 {
  font-size: 16pt;
  text-align: center; }

.auktion4 {
  font-size: 16pt;
  text-align: center; }

.stol {
  align-content: center; }

.bord1 {
  align-content: center; }

.bord2 {
  align-content: center; }

.decor1 {
  align-content: center; }

.decor2 {
  float: right; }

/*Grid*/
@supports (grid-area: auto) {
  @media screen and (min-width: 600px) {
    body {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-areas: "head head head" "gsec1 gsec2 gsec3" "gsec4 gsec5 gsec6" "gsec7 gsec7 gsec7" "foot foot foot"; }

    header {
      grid-area: head; }

    .sec1 {
      grid-area: gsec1; }

    .sec2 {
      grid-area: gsec2; }

    .sec3 {
      grid-area: gsec3; }

    .sec4 {
      grid-area: gsec4; }

    .sec5 {
      grid-area: gsec5; }

    .sec6 {
      grid-area: gsec6; }

    footer {
      grid-area: foot; }

    .logo {
      width: 30%; } } }

/*# sourceMappingURL=styles.css.map */
